body {
  font-family: 'Roboto', sans-serif;
  background: #ccc;
}
#root {
  max-width:794px;
  padding:20px 0;
  margin: 0 auto;
}
.i18n {
  z-index: 999;
  position: absolute;
  right: 4px;
}
.profile {
  font-size:18px;
  line-height: 32px;
  float:left;
}
.profile .subTitle {
  color: #999;
  font-style: italic;
}
.profile .icon {
  display:inline-block;
  width:30px;
  text-align: center
}
.profile .description {
  display: inline-block;
}
.education {
  clear: both;
}
.skill .value-bar {
  margin-bottom: 20px;
}
.skill .value-bar .progress {
  margin: 0;
}
.education h2,
.work h2 {
  font-weight:700;
  font-size:20px;
  margin: 30px auto 25px auto;
}
.education .university, .education .year,
.work .company, .work .year {
  font-size:18px;
  margin-bottom:5px;
}
.education .subject,
.work .description {
  font-size:14px;
}
.work .description ol{
  margin:10px auto;
  padding-left:15px;
  list-style-type: decimal;
}
.work .description img {
  max-width:754px;
  margin-bottom: 20px;
}
.work .description {
  margin-bottom:30px;
}
.work .description p {
  margin-bottom:20px;
}
.work .jobs {
  margin-top: 30px;
}
.self {
  margin-top:30px;
}
.self p {
  margin-bottom:10px;
  line-height: 22px;
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  #root {
    padding: 0;
  }
  .page-break {
    page-break-after: always;
  }
  .skill .value-bar {
    margin-bottom: 10px;
  }
}
